*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    box-sizing: border-box;

}
header .container .row p{
    font-size: 66px;
font-weight: 700;
color: black;
}
.underline{
    height: 1px;
    border: 1px solid gray;
    background-color: gray;
   
}
.crafing{
    font-size: 56px;
    font-weight: 400;
    line-height: 61px;

}
.fox{
    font-weight: 400;
    font-size: 40px;
    line-height: 44px;
}
.morning{
    font-size: 22px;
    font-weight: 400;
    line-height: 35px;
}
.legs{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}
 .design{
position: relative;
background-color: black;
padding:11% 0%;

} 
.ux{
    position: absolute;
    color: white;
    font-weight: 400;
    font-size: 72px;
    line-height: 75px;
   width:100%;



}
.clients{
    font-weight: 400;
    font-size: 54px;
line-height: 61px; 
}
.Finesse{
    font-weight:400;
    font-size: 25px;
    line-height: 37px;

}
footer{
    background-color: black;
}
.vostokfooter{
    font-weight: 400;
    font-size: 54px;
    line-height: 60px;
}
footer p{
    color: rgba(255, 255, 255, 0.806);
}